/*body {
  background-image: url('watergif.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/

body-empty {
/*  background-image: url('slytherincommonroom.jpg');
*/  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
	font-size:50px;
}

.container {
	position: relative;
	text-align: center;4
	color: white;
	font-size:25px;
}
.centered

{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate (-50%, -50%);
}